ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33300060;
  position:fixed;
  width:100%;
  top:0;
}

li {
  float:left;
  }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
  box-shadow: 10px 10px 5px #777777;
}

.active {
  background-color: #4CAF50;
  color:black;
}
.img
{
	position:relative;
	opacity:1;
	margin:0;
	text-align: center;
}
.top
{
	position:absolute;
	top:0px;
	left:0px;

}
.center{
	position:absolute;
    top:35%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 10px 10px 5px #777777;
    width: 40%;
    position:fixed;
}
.write{
	color:#555555;
	font-family:Impact, Charcoal, sans-serif;
	font-size:42px;

}
.in{
	width: 300px;
	height:40px;
	border-radius: 4px;
	color:black;
	background-color: white;
	border-color: darkblue;
	  box-shadow: 10px 10px 5px #777777;
	  display: inline;
}
button{
	display:inline;
	height:40px;
	width:80px;
		font-size:20px;
	background-color: white;
	border-color: darkblue;
	  box-shadow: 10px 10px 5px #777777;
	  border-radius: 4px;

}
button:hover{
	background-color: #e7e7e7;
}
.left
{
	position: absolute;
	right:8px;
	float: :right;
	top:8px;
}
input[type="text"]{
		font-size:22px;;
}
 .index{
	display: inline;
	float:left;
    margin-left: 10px;
	 border-radius: 4px;

}
.body{
	background-image: :url("baci.jpg");
	background-size: cover;
}
.rel{
  position:relative;
  top:0;
  left:0;
}